* {
  margin: 0;
  box-sizing: border-box; }


html {
  height: 100%;
}  
body {
  width: 100%;
  height: 100%;
  color: #D0D1D5;
  min-height: 100hv;
   }
  body i {
    color: #CDA448; }

.wrapper {
     min-height: calc(100% - 10rem);
    }

    main {

      font-family: 'Poppins', sans-serif;
      color: #00091D;
      font-weight: bold;
      text-align: justify; }
      main p {
        padding: 1rem 0.5rem 1rem 0.5rem;
        margin-bottom: 0rem; }
      main h1, main h2, main h3, main h6 {
        text-align: center;
        color: #CDA448;
        font-weight: bold;
        margin-bottom: 0; }
    
    
    main .title1, main .title2, main .title__modal {
      background-color: #00091D; }
    
    main .title3, main .title6 {
      background-color: #00091D; }
    
    main .title3_servicios {
      margin-top: 30px;
      background-color: #00091D; }
    
    main .title6 {
      padding-top: 10px;
      padding-bottom: 10px; }

h3, h6 {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem; }

.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 0rem;
  padding-bottom: 0;
  background: #752a2a;
  background: linear-gradient(90deg, #752a2a 0%, #00091d 54%);
  font-family: 'Piazzolla', sans-serif;
  font-size: 1.2rem;
  font-weight: bold; }
  .navbar .navbar-brand {
    padding-top: 0;
    margin-right: 0; }
  .navbar #rrss {
    margin-top: 5px;
    line-height: 30px;
    font-size: 30px;
    margin: auto 2px auto 2px; }
  .navbar .d-flex-column {
    margin-bottom: 16px;
    margin-top: 16px; }

.wrapper .nav-item:hover {
  background-color: #e3eaf4;
  color: #00091D; }

.wrapper .navbar-dark .navbar-nav .nav-link:hover {
  color: #00091D; }

.wrapper .navbar-dark .navbar-nav .nav-link {
  color: #CDA448; }

.wrapper .navbar .logo {
  max-width: 100%;
  height: auto;
  transition: all 300ms ease, opacity 10s ease; }

.wrapper .navbar:hover .logo {
  transform: scale(1.2);
  opacity: 0.3;
  filter: contrast(0.5) brightness(2); }

.wrapper .navbar:hover .logo {
  animation-name: rotar;
  animation-duration: 3s;
  animation-iteration-count: 5;
  animation-direction: normal; }




.title1 {
  position: relative;
  margin-top: -57px;
  font-size: 3rem; }

.title2 {
  position: relative;
  margin-top: -57px;
  font-size: 3rem;
  background-color: #CDA448 !important;
  color: #00091D; }

.title_form {
  margin-top: 30px;
  background-color: #fff;
  color: #CDA448;
  font-weight: 900; }

  .banner_servicios {
    z-index: -1;
    height: 250px;
    object-fit: cover;
    object-position: center center;
    padding-left: 0;
    padding-right: 0; } 

    

       
footer {
  z-index: 1;
  width: 100%;
      


  background: #752a2a;
  background: linear-gradient(90deg, #00091d 44%, #752a2a 84%); }
  footer .foot {
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 16px;
    margin-bottom: 6px;
    line-height: 1.5;
    font-weight: 700;
    color: #CDA448;
    font-size: 0.9rem; }
  footer .creador {
    text-align: end;
    margin: 0;
    padding-bottom: 0;
    font-size: 0.9rem;
    color: #D0D1D5; }





.input_subs {
  font-family: inherit !important;
  font-size: 100% !important;
  line-height: 1.15 !important;
  margin: 0 !important;
  border: none !important; }

#input_email, #input_fullname, #input_salario, #input_ciudad, #input_empresa, #input_porcentaje, #input_fullname, #input_año_cal, #input_cel {
  width: 20rem;
  height: 2rem; }

#input_subs {
  width: 12rem;
  height: 2rem; }

.mailpoet_paragraph {
  padding-top: 0.5rem !important;
  text-align: center;
  justify-content: center;
  align-content: center; }

.poli_takion {
  color: #fff !important;
  outline: none !important;
  text-decoration: none !important; }

.poli_takion:hover {
  color: #00091D !important;
  border-bottom: 1px solid !important;
  background: #CDA448 !important; }

.input_requeri {
  border: 1px dotted #222;
  border-radius: 0;
  font-size: 5px;
  font-family: 'Poppins', sans-serif;
  -webkit-appearance: none;
  font-weight: 700 !important; }

.label_requeri {
  color: #00091D;
  background-color: #CDA448 !important;
  font-weight: 700 !important;
  padding-top: 4px;
  width: 12rem;
  height: 2rem;
  text-align: center; }

.button_requeri {
  font-weight: bold;
  font-size: 85%;
  background-color: #fff; 
  align-content: center;
}

#scrollup {
 margin-top: 50px;
 margin-bottom: 20px;
}


.button_requeri:hover {
  font-size: 1.1rem;
  color: #D0D1D5;
  background-color: #00091D; }

.formulario_contenedor {
  margin-top: 130px;
  margin-bottom: 30px;
  background-color: #00091D;
  text-align: center;
  justify-content: center;
  align-content: center; }


  

#listass{
  color: #CDA448;
}


.form{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin:auto;
  text-align: center;
}

.form input.form-control {
  margin: 10px 0px;

}

.form__modal{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin:auto;
  text-align: center;
}

.form__modal input.form-control{
  margin: 0px 0px 10px 0px;
}

.form__modal label.control-label{
  margin: 0px 0px 0px 0px;
}

textarea {
  width: 194px;
  height: 180px;
  justify-content: center;
  text-align: center;
  
  
}

.botones {
  padding-top: 50px;
}

#peliculas {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.buscador {
  top: 50px;
}

#empleados, #departamentos{
  padding-top: 50px;
}

.consulta{
  background-color: #00091D;

}

.consulta p {
  padding: 0;
  text-align: center;
  color: #D0D1D5;
  }

.pic_empleado {
  padding-top: 10px;
  display:block;
  margin:auto;
}

#formBuscar{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  
  justify-content: center;
  align-items: center;
}


.row {
  
  margin-right: 0;
  margin-left: 0; }


  .navVertical {
    position: fixed;
    z-index: 0;
    width: 6%;
    height: 100%;
    padding: 0.5rem 1rem 0.5rem 0rem;
    padding-bottom: 0;
    background: #752a2a;
    background: linear-gradient(90deg, #752a2a 0%, #00091d 54%);
    font-family: 'Piazzolla', sans-serif;
    font-size: 1.2rem;
    font-weight: bold; 
  }
   .navVertical ul{
  
  
  padding-left: 15px;
  padding-top: -100px;
}

.navVertical .nav-link{
  color: #D0D1D5;

}

.btn_modal {
  margin-bottom: 10px;
}

.datatable {
  background-color: #D0D1D5;
}


.modalParrafo{
 text-align: center;
 margin-top: 50px;
 
}